.tikui-line-section.-s24
  .tikui-line-section--column
    pre.doc-code-example
      code.code.language-html !{htmlCode}
    button.tikui-button.-small(onclick='copyCode(this)' data-code=htmlRaw) Copy
  .tikui-line-section--column
    pre.doc-code-example
      code.code.language-pug !{pugCode}
    button.tikui-button.-small(onclick='copyCode(this)' data-code=pugRaw) Copy
