.tikui-line-section.-s24
  .tikui-line-section--column
    pre.doc-code-example
      code.code.language-html !{htmlCode}
  .tikui-line-section--column
    pre.doc-code-example
      code.code.language-pug !{pugCode}
