@mixin tikui-component-spacing($spacing) {
  margin-bottom: $spacing * 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tikui-component {
  @include tikui-component-spacing(24);

  &--markdown, &--render, &--code {
    @include tikui-component-spacing(24);
  }

  &--markdown {
    h1 {
      @include tikui-title-main;
      @include tikui-component-spacing(24);
    }

    h2 {
      @include tikui-title-section;
      @include tikui-component-spacing(24);
    }

    h3 {
      @include tikui-title-part;
      @include tikui-component-spacing(24);
    }

    p {
      @include tikui-paragraph;
      @include tikui-component-spacing(16);
    }

    a {
      @include tikui-link;
    }

    ul, ol {
      @include tikui-list;
      @include tikui-component-spacing(16);
    }
  }
}
