extends layout

block title
  title Tikui
block body
  .tikui-template-page--header
    .tikui-template-page--header-container
      block header
  .tikui-template-page--body(data-navigable)
    .tikui-template-page--container
      .tikui-template-page--container-content
        block content
