extends layout

block title
  title Tikui
block body
  .tikui-template-page--header
    .tikui-template-page--container
      block header
  .tikui-template-page--body(data-navigable)
    .tikui-template-page--container
      block content
