extends layout

block title
  title Tikui
block body
  .tikui-template-page--header.doc-header
    .tikui-template-page--container
      block header
  .tikui-template-page--body.doc-content
    .tikui-template-page--container
      block content
