mixin tikui-navbar(url, title)
  -const brandUrl = url || '/';
  -const brandTitle = title || 'Tikui';
  header.tikui-header
    .tikui-header--slot
      a.tikui-title-brand(href=url)=brandTitle
    .tikui-header--slot
      nav
        ul.tikui-header-navigation
          block

mixin tikui-navbar-item(url, name, selected)
  -const navUrl = url || '/';
  -const navName = name || navUrl;
  -const selectedClass = selected ? '-selected' : null;
  li.tikui-header-navigation--slot
    a.tikui-header-item(href=navUrl class=selectedClass)
      span.tikui-header-item--text=navName
      span.tikui-header-item--feedback
