@use 'token/token';
@use 'quark/quark';
@use 'atom/atom';
@use 'molecule/molecule';
@use 'organism/organism';
@use 'template/template';

.doc-iframe {
  border: 1px solid #000;
  background: #fff;
  width: 100%;
  resize: both;
}

.doc-code-example {
  max-height: 200px;
  overflow: auto;
}
