figure
  blockquote.blockquote(cite='http://bradfrost.com/blog/post/atomic-web-design/#organisms')
    p Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.
    p Building up from molecules to organisms encourages creating standalone, portable, reusable components.
  figcaption.blockquote-footer #[cite Atomic Design] by Brad Frost
